/*stylesheet*/

body {
	font-family: Open Sans;
	margin: 0;
}

h1 {
	font-weight: 600;
	font-style: italic;
	text-align: center;
}

.socialbuttons {
	text-align: center;
}

.tickantel {
	border-radius: 10px;
	background-color: gray;
	height: 45px;
	width: auto;
}

.buttons {
	height: 50px;
	width: auto;
}

.thumb {
	text-align: center;
}

.disc {
	background-color: #8a9d88;
}

.splash.section {
    background: #000000 url("../images/pope-en-banda-trio-concierto.jpg") no-repeat center bottom; 
    background-size: cover;
    min-height: 56.25vw;
}

.bio {
	background-color: #ffffff;
}

.wrapper {
	max-width: 960px;
	margin: auto;
	width: 100%;
	padding: 4rem 2rem;
	box-sizing: border-box;
}

.thumb {
	text-align: center;
}

.images {
	width: 300px;
	max-width: 100%;
}

.splash.section .thumb {
	margin-bottom: 2rem;
}

.splash-image {
	text-align: center;
}

.splash-image svg {
	max-width: 480px;
}

.track-list {
	margin: auto;
    margin-top: 2rem;
    text-align: center;
    list-style-type: none;
}

.track-list li {
	margin-bottom: 1rem;
}

.track-list span.track-number {
	margin-right: .25em;
	font-weight: 700;
}

.track-list span.name {
	margin-right: .25em;
    color: #fff;
}

.track-list span.duration {
    color: #6f433d;
}
