{% block content %}
    <footer class="main-footer">
			<div class="wrapper">
				<p>Contacto: <a href="mailto:popeenbanda@gmail.com">popeenbanda@gmail.com</a></p>
				<p>2017 © Web: <a href="mailto:jstirlinguy@gmail.com">Joaquín Stirling</a> + <a href="http://elpatiostudio.com" target="_blank">El Patio Studio</a> / Arte disco Urvbanidad: <a href="http://www.carton.com.uy/" target="_blank">Cartón Estudio Gráfico</a></p>
			</div>
		</footer>
{% endblock %}
