{% extends 'partials/base.html.twig' %} 
{% block content %}
<div class="section {{ page.header.slug }}">
    <div class="wrapper">
       {{ page.header.soundcloud }} 
    </div>
</div>
{% endblock %}